<% institution = institution || record %>

<div class="institution-<%= institution.id %>">

  <div class="collapse multi-collapse institution-list-view">
      <div class="list">
        <div class="row mt-3">
          <div class="col-6">
            <%= link_to institution.name, institutions_path(institution), class: "black_link" %>
          </div>
          <div class="col-4">
            <%= mail_to institution.email %>
          </div>
          <div class="col-2">
            <div class="btn-group float-right" role="group" aria-label="Toolbar for Institution">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-light institution-<%= institution.id %>-edit" data-toggle="modal" data-target=".institution-<%= institution.id %>-edit-modal">
                <%= fa_icon "edit" %>
              </button>
              <%= link_to institution, method: :delete, data: { confirm: 'Bist du sicher?' } do %>
                <button type="button" class="btn btn-light institution-<%= institution.id %>-delete"><%= fa_icon "times" %></button>
              <% end %>
            </div>
          </div>
        </div>
        <hr />
      </div>
  </div>

  <div class="collapse multi-collapse institution-profile-view">
      <div class="card my-3">
        <div class="card-body">
          <div class="float-right mb-3">

            <div class="btn-group" role="group" aria-label="Toolbar for Institution">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-light institution-<%= institution.id %>-edit" data-toggle="modal" data-target=".institution-<%= institution.id %>-edit-modal">
                <%= fa_icon "edit" %>
              </button>
              <%= link_to institution, method: :delete, data: { confirm: 'Bist du sicher?' } do %>
                <button type="button" class="btn btn-light institution-<%= institution.id %>-delete"><%= fa_icon "times" %></button>
              <% end %>
            </div>
          </div>

          <h3 class="card-title institution-name"><%= link_to institution.name, institution_path(institution), class: "black_link" %></h3>
          <p class="card-text"><%= institution.description %></p>
          <% unless institution.email.blank? %>
            <p class="card-text"><strong>e-Mail: </strong><%= mail_to institution.email %></p>
          <% end %>

          <div class="institution-<%=institution.id%>-people">
            <% unless institution.people.empty? %>
            <p> <b>Mitglieder: </b>
              <ul>
              <% institution.people.each do |person| %>
                <li><button type="button" class="btn btn-link"><%= person.name %></button></li>
              <% end %>
            </ul>
            </p>
          <% end %>
          </div>

          <div class="institution-<%= institution.id %>-tags">
            <% unless institution.tag_list.empty? %>
              <p class="mt-2">
                <% institution.tag_list.each do |tag| %>
                  <button type="button" class="btn btn-outline-dark m-1"><%= tag %></button>
                <% end %>
              </p>
            <% end %>
          </div>

          <p>
            <div class="shared-institution-<%=institution.id%>">
              <p>
                <a class="btn btn-link btn-sm">
                  <%= fa_icon "address-card" %> Adresse anzeigen
                </a>
              </p>
            </div>

            <%#= render "shared/children", parent: institution %>
            <!--
            <div class="shared-institution-<%=institution.id%>">
              <%= link_to render_shared_path(parent_type: "institution", parent_id: institution.id), method: :get, remote: true do %>
                <button type="button" class="btn btn-light shared-institution-<%=institution.id%>-get-button">Shared holen!</button>
              <% end %>
            </div>
            //-->
          </p>

          <hr />
            <%= render "shared/created_and_updated", parent: institution %>
        </div>
      </div>
  </div>



  <!-- Modal -->
  <div class="modal fade institution-<%= institution.id %>-edit-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Institution" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Institution bearbeiten</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="institution-<%= institution.id %>-edit-placeholder">
          </div>
          <%#= render "institutions/form", institution: institution %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        </div>
      </div>
    </div>
  </div>

  <script>


    var isExpanded = $("#institution-index-view-option").attr("aria-expanded");

    if( isExpanded ) {
        if(isExpanded == "true"){
          $(".institution-profile-view").addClass("show");
        } else {
          $(".institution-list-view").addClass("show");
        }
    } else {
      $(".institution-profile-view").addClass("show");
    }
    $( document ).ready(function() {

      $.ajax({
        url: "/render_shared",
        method: 'GET',
        data: { parent_type: "Institution", parent_id: "<%= institution.id %>"}
      }).done(function(response) {
      $(".shared-institution-<%=institution.id%>").replaceWith(response);
    })

    $( ".institution-<%= institution.id %>-edit" ).click(function() {
        $.ajax({
          url: "/institutions/<%= institution.id %>/edit.js",
          method: 'GET'
        }).done(function(response) {
        $(".institution-<%= institution.id %>-edit-placeholder").replaceWith(response);
      })
    });

    //  $( ".shared-institution-<%=institution.id%>-get-button" ).click();
    });


  </script>
</div>
