<div class="tab-content" id="nav-tabContent">
    <div class="tab-pane fade show active" id="list-people" role="tabpanel">
      <div class="card mb-3">
        <div class="card-body">
          <%#= render "people/index", people: people %>
          <%= render "basic/index", records: people %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list-notes" role="tabpanel">
      <div class="card mb-3">
        <div class="card-body">
          <div id="notes">
            <%#= render partial: "notes/note", collection: notes, as: :note, locals: {show_headers: true} %>
            <%= render "basic/index", records: notes %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list-tasks" role="tabpanel">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title text-center">Aufgaben</h3>
          <div id="tasks">
            <%#= render partial: "tasks/task_with_parent", collection: @tasks, as: :task %>
            <%= render "basic/index", records: @tasks %>
          </div>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list-tags" role="tabpanel">
      <div class="card mb-3">
        <div class="card-body">
          <%= render "tag_lists/index", tag_lists: tag_lists %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list-team" role="tabpanel">
      <div class="card mb-3">
        <div class="card-body">
          <h3 class="card-title text-center">Team</h3>
          <hr>
          <% User.all.each do |user| %>
            <%#= link_to "#{user.username} - #{user.email}", user_path(user) %>
            <hr>
          <% end %>
        </div>
      </div>
    </div>

    <div class="tab-pane fade" id="list-institutions" role="tabpanel">
        <div class="card mb-3">
          <div class="card-body">
            <%#= render "institutions/index", institutions: institutions %>
            <%= render "basic/index", records: institutions %>
          </div>
        </div>
    </div>

</div>
