<nav>
  <div class="nav nav-tabs" id="list-tab" role="tablist">
    <a class="nav-item nav-link active" data-toggle="list" href="#list-people" role="tab">
        <h5 class="mb-1"><%= fa_icon "user" %></h5>
    </a>

    <a class="nav-item nav-link" data-toggle="list" href="#list-institutions" role="tab">
        <h5 class="mb-1"><%= fa_icon "university" %></h5>
    </a>

    <a class="nav-item nav-link" data-toggle="list" href="#list-notes" role="tab">
        <h5 class="mb-1"><%= fa_icon "sticky-note" %></h5>
    </a>

    <a class="nav-item nav-link" data-toggle="list" href="#list-tasks" role="tab">
        <h5 class="mb-1"><%= fa_icon "tasks" %></h5>
    </a>

    <a class="nav-item nav-link" data-toggle="list" href="#list-tags" role="tab">
        <h5 class="mb-1"><%= fa_icon "tags" %></h5>
    </a>

    <a class="nav-item nav-link" data-toggle="list" href="#list-team" role="tab">
        <h5 class="mb-1"><%= fa_icon "users" %></h5>
    </a>
  </div>
</nav>
