<nav>
  <div class="nav nav-tabs" id="list-tab" role="tablist">
    <a class="nav-item nav-link index-load <%= "active" if records.klass.to_s == "Person" %>" data-toggle="list" href="#list-people" target="Person" role="tab">
        <h5 class="mb-1"><%= fa_icon "user" %></h5>
    </a>

    <a class="nav-item nav-link index-load <%= "active" if records.klass.to_s == "Institution" %>" data-toggle="list" href="#list-institutions" target="Institution" role="tab">
        <h5 class="mb-1"><%= fa_icon "university" %></h5>
    </a>

    <a class="nav-item nav-link index-load <%= "active" if records.klass.to_s == "Note" %>" data-toggle="list" href="#list-notes" target="Note" role="tab">
        <h5 class="mb-1"><%= fa_icon "sticky-note" %></h5>
    </a>

    <a class="nav-item nav-link index-load <%= "active" if records.klass.to_s == "Task" %>" data-toggle="list" href="#list-tasks" target="Task" role="tab">
        <h5 class="mb-1"><%= fa_icon "tasks" %></h5>
    </a>

    <a class="nav-item nav-link index-load <%= "active" if records.klass.to_s == "Project" %>" data-toggle="list" href="#list-projects" target="Project" role="tab">
        <h5 class="mb-1"><%= fa_icon "compass" %></h5>
    </a>

    <a class="nav-item nav-link index-load <%= "active" if records.klass.to_s == "Group" %>" data-toggle="list" href="#list-groups" target="Group" role="tab">
        <h5 class="mb-1"><%= fa_icon "sitemap" %></h5>
    </a>

    <a class="nav-item nav-link index-load" data-toggle="list" href="#list-tags" target="Tags" role="tab">
        <h5 class="mb-1"><%= fa_icon "tags" %></h5>
    </a>

    <%= link_to team_path, class: "nav-item nav-link index-load" do %>
      <h5 class="mb-1"><%= fa_icon "users" %></h5>
    <% end %>
  </div>
</nav>
