<div class="container">
  <div class="card mb-3">
    <div class="card-header text-center">
      <h1>Aktivitäten</h1>
    </div>
    <div class="card-body">
      <% Audited::Audit.order(:created_at).limit(100).reverse_order.each do |audit| %>
        <p>
          <b>Änderung von: </b>
          <%= audit.user ? audit.user.username : "Sandros Skript" %>
        </p>
        <p>
          <b>Aktivität: </b><%= audit.action %>
        </p>
        <p>
          <b>Datum: </b><%= audit.created_at.strftime("%d.%m.%Y %H:%M") %>
        </p>
        <p>
          <% if audit.action == "create" %>
            <% audit.audited_changes.each do |a| %>
            <b><%= a[0] %>:</b> <%= a[1] %><br />
            <% end %>
          <% end %>

          <% if audit.action == "update"%>
            <% audit.audited_changes.each do |a| %>
            <b><%= a[0] %>:</b> Von "<%= a[1][0] %>" zu "<%= a[1][1] %>" <br />
            <% end %>
          <% end %>
        </p>
        <hr />
      <% end %>
    </div>
  </div>
</div>
