<%= javascript_include_tag "https://www.gstatic.com/charts/loader.js" %>
<div class="container">
  <div class="card mb-3">
    <div class="card-body">
      <h4>Arbeitsstunden importieren</h4>
      <%= form_tag import_work_time_path, multipart: true do %>
        <%= file_field_tag :file, class: "btn btn-secondary" %>
        <br>
        <br>
        <%= submit_tag "Importieren", class: "btn btn-primary" %>
      <% end %>
    </div>
  </div>

  <div class="card mb-3">
    <div class="card-body">
      <h4>Arbeitsstunden</h4>

      <% User.where(id: [1,2,10,13,14,8]).each do |user| %>
        <%= render "work_times/work_time_table", user: user %>
      <hr />
      <% end %>
    </div>
  </div>
</div>
