
<%= simple_form_for(note, remote: true) do |f| %>
  <%= f.error_notification %>
  <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

  <div class="form-inputs">
    <%= f.input :description %>
  </div>

  <%= f.hidden_field :noteable_id, value: note.noteable.id %>
  <%= f.hidden_field :noteable_type, value: note.noteable.class %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
