<% blogs = blogs.where(planned_date: day)%>
<% blogs.each do |blog| %>
  <%= link_to blog_path(blog) do %>
    <% border_color = "border-danger" %>
    <% border_color = "border-primary" if blog.submitted == "true" %>
    <% border_color = "border-success" if (blog.published == "true") && (blog.submitted == "true") && (blog.author_informed == "true") %>

    <div class="m-2">
      <div class="border <%= border_color %> rounded p-1 small-text">
        <small>
          <% unless blog.person.blank? %>
            <b><%= blog.person.name %></b>
            <br />
          <% end %>
          <%= blog.working_title %>
        </small>
      </div>
    </div>
  <% end %>
<% end %>

<div class="enter-blog hidden">
  <hr />
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-outline-primary btn-sm enter-blog-button m-2" value=" <%= day.to_s %>" data-toggle="modal" data-target="#enter-blog-modal">
    Blog eintragen
  </button>
</div>
