<p id="notice"><%= notice %></p>

<h1>Blogs</h1>

<table>
  <thead>
    <tr>
      <th>Planned date</th>
      <th>Language</th>
      <th>Working title</th>
      <th>Submitted</th>
      <th>Published</th>
      <th>Author informed</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @blogs.each do |blog| %>
      <tr>
        <td><%= blog.planned_date %></td>
        <td><%= blog.language %></td>
        <td><%= blog.working_title %></td>
        <td><%= blog.submitted %></td>
        <td><%= blog.published %></td>
        <td><%= blog.author_informed %></td>
        <td><%= link_to 'Show', blog %></td>
        <td><%= link_to 'Edit', edit_blog_path(blog) %></td>
        <td><%= link_to 'Destroy', blog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Blog', new_blog_path %>
