<div class="d-none d-md-block">
  <div class="d-flex justify-content-center">
    <% if params[:search_inputs].present? %>
      <%= paginate records, window: 2, outer_window: 1, params: {controller: 'basic', action: 'search_basic'} , theme: 'prevnext', remote: true %>
    <% else %>
      <%= paginate records, window: 2, outer_window: 1, params: {controller: 'basic', action: 'search_basic', search_inputs: {model: records.klass.to_s, random_div: random_div}} , theme: 'prevnext', remote: true %>
    <% end %>
  </div>
</div>

<div class="d-md-none">
  <div class="d-flex justify-content-center">
    <%#= paginate records, window: 1, params: {controller: 'basic', action: 'search_basic', search_inputs: params[:search_inputs].merge(model: records.klass.to_s).permit!}, remote: true %>
    <% if params[:search_inputs].present? %>
      <%= paginate records, window: 2, outer_window: 1, params: {controller: 'basic', action: 'search_basic'}, remote: true %>
    <% else %>
      <%= paginate records, window: 2, outer_window: 1, params: {controller: 'basic', action: 'search_basic', search_inputs: {model: records.klass.to_s, random_div: random_div}}, remote: true %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center p-1">

  <% unless records.nil? || records.empty? %>
    <div class="btn-group mx-2" role="group" aria-label="Toolbar for CSV, PDF and ODT">

      <% if records.klass.to_s == "Person" %>
      <% disable_odt = (records.total_count > 20) ? "disabled" : "" %>
      <% if params[:search_inputs].present? %>
           <%= link_to "CSV", basic_csv_path(search_inputs: params[:search_inputs].permit!), class: "btn btn-primary btn-sm" %>
           <%= link_to "PDF", basic_pdf_path(search_inputs: params[:search_inputs].permit!, :format => :pdf, target: "_blank"), class: "btn btn-primary btn-sm" %>
           <%= link_to "ODT", basic_odf_path(search_inputs: params[:search_inputs].permit!), class: "btn btn-primary btn-sm #{disable_odt}" %>
           <%= link_to "Serienbrief", people_serienbrief_path(search_inputs: params[:search_inputs].permit!), class: "btn btn-primary btn-sm" %>
           <%= link_to "Mitgliederbrief", people_brief_an_mitglieder_path(search_inputs: params[:search_inputs].permit!), class: "btn btn-primary btn-sm" %>
      <% else %>
          <%= link_to "CSV", basic_csv_path, class: "btn btn-primary btn-sm" %>
          <%= link_to "PDF", basic_pdf_path(:format => :pdf), class: "btn btn-primary btn-sm" %>
          <%= link_to "ODT", basic_odf_path, class: "btn btn-primary btn-sm #{disable_odt}" %>
          <%= link_to "Serienbrief", people_serienbrief_path, class: "btn btn-primary btn-sm" %>
          <%= link_to "Mitgliederbrief", people_brief_an_mitglieder_path, class: "btn btn-primary btn-sm" %>
      <% end %>
      <% elsif records.klass.to_s == "Institution" %>
        <% if params[:search_inputs].present? %>
             <%= link_to "CSV", basic_csv_path(search_inputs: params[:search_inputs].permit!), class: "btn btn-primary btn-sm" %>
             <%= link_to "PDF", basic_pdf_path(search_inputs: params[:search_inputs].permit!, :format => :pdf, target: "_blank"), class: "btn btn-primary btn-sm" %>
             <%= link_to "Serienbrief", institutions_serienbrief_path(search_inputs: params[:search_inputs].permit!), class: "btn btn-primary btn-sm" %>
        <% else %>
            <%= link_to "CSV", basic_csv_path, class: "btn btn-primary btn-sm" %>
            <%= link_to "PDF", basic_pdf_path(:format => :pdf), class: "btn btn-primary btn-sm" %>
            <%= link_to "Serienbrief", institutions_serienbrief_path, class: "btn btn-primary btn-sm" %>
        <% end %>
      <% elsif records.klass.to_s == "Note" %>

      <% elsif records.klass.to_s == "Task" %>

      <% end %>

      <button type="button" class="btn btn-light btn-sm border border-primary">
        <b><%= (records.limit_value * (records.current_page-1)) + 1  %> - <%= (records.limit_value * (records.current_page-1)) + records.size %></b> von <b><%= records.total_count %></b>
      </button>
    </div>
  <% end %>
</div>

<button type="button" class="btn btn-light" data-toggle="modal" data-target=".create-letters-with-template-modal">
  template
</button>

<!-- template-modal -->
<div class="modal fade create-letters-with-template-modal" tabindex="-1" role="dialog" aria-labelledby="template" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">template</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
      <%= simple_form_for :bill, {url: create_letters_with_template_path, method: :get, remote: false} do |f| %>

        <%= f.file_field :template %>
        <% if params[:search_inputs].present? %>
          <%= f.hidden_field :search_inputs, value: params[:search_inputs].permit! %>
        <% else %>
          <%= f.hidden_field :search_inputs, value: nil %>
        <% end %>

        <br>
        <%= f.submit "template", class: "btn btn-primary" %>
      <% end %>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
      </div>
    </div>
  </div>
</div>
