<div class="d-none d-md-block">
  <div class="d-flex justify-content-center">
    <% if params[:search_inputs].present? %>
      <%= paginate records, window: 2, outer_window: 1, params: {controller: 'basic', action: 'search_basic'} , theme: 'prevnext', remote: true %>
    <% else %>
      <%= paginate records, window: 2, outer_window: 1, params: {controller: 'basic', action: 'search_basic', search_inputs: {model: records.klass.to_s}} , theme: 'prevnext', remote: true %>
    <% end %>
  </div>
</div>

<div class="d-md-none">
  <div class="d-flex justify-content-center">
    <%#= paginate records, window: 1, params: {controller: 'basic', action: 'search_basic', search_inputs: params[:search_inputs].merge(model: records.klass.to_s).permit!}, remote: true %>
    <% if params[:search_inputs].present? %>
      <%= paginate records, window: 2, outer_window: 1, params: {controller: 'basic', action: 'search_basic'}, remote: true %>
    <% else %>
      <%= paginate records, window: 2, outer_window: 1, params: {controller: 'basic', action: 'search_basic', search_inputs: {model: records.klass.to_s}}, remote: true %>
    <% end %>
  </div>
</div>

<div class="d-flex justify-content-center p-1">
  <% if params[:search_inputs].present? %>
    <%= link_to basic_csv_path(search_inputs: params[:search_inputs].permit!) do %>
      <button type="button" class="btn btn-primary btn-sm mx-2">CSV</button>
    <% end %>

     <%= link_to basic_pdf_path(search_inputs: params[:search_inputs].permit!, :format => :pdf) do %>
      <button type="button" class="btn btn-primary btn-sm mx-2">PDF</button>
     <% end %>
  <% else %>
    <%= link_to basic_csv_path do %>
    <button type="button" class="btn btn-primary btn-sm mx-2">CSV</button>
    <% end %>

     <%= link_to basic_pdf_path(:format => :pdf) do %>
      <button type="button" class="btn btn-primary btn-sm mx-2">PDF</button>
     <% end %>
  <% end %>

  <%= (records.limit_value * (records.current_page-1)) + 1  %> - <%= (records.limit_value * (records.current_page-1)) + records.count %> von <%= records.total_count %>
</div>
