<%= form_tag(search_basic_form_path, method: "get", remote: true, class: "form-group") do %>
    <%= text_field_tag(:"search_term", nil, placeholder: "Nach #{records.klass.model_name.human(count: 2)} suchen", autocomplete: :off, class: "form-control") %>
    <%= hidden_field_tag(:model, records.klass.to_s) %>
    <br>
    <p>
      <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#search_options" aria-expanded="false" aria-controls="collapseExample">
        <%= fa_icon "plus" %> Weitere Optionen
      </button>
    </p>
  <div class="collapse mb-2" id="search_options">
    <div class="card card-body">
      <%= select_tag(:tag_list, as: :select, collection: TagList.all, label: "Tags", label_method: :name, value_method: :name, input_html: {class: 'chosen-select', :data => {:placeholder => "Tags auswählen"}, multiple: true}) %>
      <br>

      <%= select_tag :tag_list,
          TagList.all.map { |u| [u.name, u.id] },
                          { class: 'chosen-select' }
      %>
    <br />
      <%= select_tag(:institutions, as: :select, collection: Institution.all, label_method: :name, value_method: :id, input_html: {class: 'chosen-select', :data => {:placeholder => "Institutionen auswählen"}, multiple: true}) %>
    </div>
  </div>
    <%= submit_tag("Search", id: "trigger_search", class: "btn btn-primary") %>
<% end %>

<script>
    $(document).ready(function(){
      $('.chosen-select').chosen({
        allow_single_deselect: true,
        no_results_text: 'Nichts gefunden',
        inherit_select_classes: false,
        search_contains: true,
        width: '100%'
      });

      var records = <%= raw records.klass.to_s.pluralize.downcase.inspect %>;
      var records_div = "." + records;
      var search_records = "#search_inputs_search_term";
      var trigger_records = "#trigger_search";

        $( search_records ).keyup(function() {
          if ($( search_records ).val().length > 3){
            if ($( records_div ).html() != "<div class=\"mx-auto loader\"></div>"){
              $( records_div ).html( "<div class=\"mx-auto loader\"></div>" );
            }
            $(trigger_records).click();
          }
        });
    });
</script>
