<%= simple_form_for :search_inputs, {url: search_basic_form_path, method: :get, remote: true} do |f| %>
  <%= f.text_field :search_term, placeholder: "Nach #{records.klass.model_name.human(count: 2)} suchen", autocomplete: :off, class: "form-control" %>
  <br>
  <p>
    <button class="btn btn-outline-secondary" type="button" data-toggle="collapse" data-target="#search_options" aria-expanded="false" aria-controls="collapseExample">
      <%= fa_icon "plus" %> Weitere Optionen
    </button>
  </p>
<div class="collapse mb-2" id="search_options">
  <div class="card card-body">
    <%= f.input :tag_list, as: :select, collection: TagList.all, label: "Tags", label_method: :name, value_method: :name, input_html: {class: 'chosen-select', :data => {:placeholder => "Tags auswählen"}, multiple: true} %>
    <br>
    <%= f.input :institutions, as: :select, collection: Institution.all, label_method: :name, value_method: :id, input_html: {class: 'chosen-select', :data => {:placeholder => "Institutionen auswählen"}, multiple: true} %>
    <%= f.hidden_field :model, value: records.klass.to_s %>
  </div>
</div>
  <%= f.submit "Suchen", id: "trigger_search", class: "btn btn-primary" %>
<% end %>

<script>
    $(document).ready(function(){
      $('.chosen-select').chosen({
        allow_single_deselect: true,
        no_results_text: 'Nichts gefunden',
        inherit_select_classes: false,
        search_contains: true,
        width: '100%'
      });

      var records = <%= raw records.klass.to_s.pluralize.downcase.inspect %>;
      var records_div = "." + records;
      var search_records = "#search_inputs_search_term";
      var trigger_records = "#trigger_search";

        $( search_records ).keyup(function() {
          if ($( search_records ).val().length > 3){
            if ($( records_div ).html() != "<div class=\"mx-auto loader\"></div>"){
              $( records_div ).html( "<div class=\"mx-auto loader\"></div>" );
            }
            $(trigger_records).click();
          }
        });
    });
</script>
