<%= form_tag(search_basic_form_path, method: "get", remote: true, class: "form-group") do %>
    <%= text_field_tag(:"search_#{records.klass.to_s.pluralize.downcase}", nil, placeholder: "Nach #{records.klass.model_name.human(count: 2)} suchen", autocomplete: :off, class: "form-control") %>
    <%= hidden_field_tag(:model, records.klass.to_s) %>
    <%= submit_tag("Search", id: "trigger_#{records.klass.to_s.pluralize.downcase}", class: "invisible d-none") %>
<% end %>

<script>
    $(document).ready(function(){
      var records = <%= raw records.klass.to_s.pluralize.downcase.inspect %>;
      var records_div = "." + records;
      var search_records = "#search_" + records;
      var trigger_records = "#trigger_" + records;

        $( search_records ).keyup(function() {
          if ($( search_records ).val().length > 3){
            if ($( records_div ).html() != "<div class=\"mx-auto loader\"></div>"){
              $( records_div ).html( "<div class=\"mx-auto loader\"></div>" );
            }
            $(trigger_records).click();
          }
        });
    });
</script>
