<div class="person-<%= person.id %>-edit-form">
  <%= simple_form_for(person, remote: true ) do |f| %>
    <%= f.error_notification %>
    <%= f.error_notification message: f.object.errors[:base].to_sentence if f.object.errors[:base].present? %>

    <div class="form-inputs">
      <%= f.input :firstname %>
      <%= f.input :lastname %>
      <%= f.input :description %>
      <%= f.input :email %>
      <%= f.input :phone %>
      <%= f.input :gender, collection: Person.genders.map {|p| [t("#{p}"), p]} %>
      <%= f.input :language, collection: Rails.configuration.language.map {|p| [t("#{p}"), p]} %>
      <%= f.association :institutions, as: :select, collection: Institution.all, label_method: :name, value_method: :id, :data => {:placeholder => 'User Name'}, input_html: {class: 'chosen-select', :data => {:placeholder => "Institutionen ausw채hlen"}, multiple: true} %>
      <%= f.input :functionality_list, as: :select, collection: TagList.where(model: "Person", category: "functionality"), label: "Funktionalit채ten", label_method: :name, value_method: :name, input_html: {class: 'chosen-select', :data => {:placeholder => "Tags ausw채hlen"}, multiple: true} %>
      <%= f.input :target_group_list, as: :select, collection: TagList.where(model: "Person", category: "target_group"), label: "Zielgruppe", label_method: :name, value_method: :name, input_html: {class: 'chosen-select', :data => {:placeholder => "Tags ausw채hlen"}, multiple: true} %>
    </div>

    <div class="form-actions">
      <%= f.button :submit %>
    </div>
  <% end %>
</div>

<script>
  $( document ).ready(function() {

    $('.chosen-select').chosen({
      allow_single_deselect: true,
      no_results_text: 'Nichts gefunden',
      inherit_select_classes: false,
      search_contains: true,
      width: '100%'
    });

  });
</script>
