<% person = person || record %>

<div class="person-<%= person.id %>">

  <div class="person-profile-view">
      <div class="card my-3">
        <div class="card-body">

          <h3 class="card-title person-name"><%= link_to person.name, person_path(person), class: "black_link" %></h3>
          <p class="card-text"><%= person.description %></p>
          <% if person.email %>
            <p class="card-text"><strong>e-Mail: </strong><%= mail_to person.email %></p>
          <% end %>
          <% if !person.phone.blank? %>
            <p class="card-text"><strong>Telefon: </strong><%= person.phone %></p>
          <% end %>

          <% if !person.gender.blank? %>
            <p class="card-text"><strong>Geschlecht: </strong><%= t(person.gender) %></p>
          <% end %>

          <% if !person.language.blank? %>
            <p class="card-text"><strong>Sprache: </strong><%= t(person.language) %></p>
          <% end %>

          <div class="person-<%=person.id%>-institutions">
            <% unless person.institutions.empty? %>
            <p> <b>Ist Mitglied bei:</b>
              <ul>
              <% person.institutions.each do |institution| %>
                <li>
                  <%= link_to institution.name, institution_path(institution)%>
                </li>
              <% end %>
            </ul>
            </p>
          <% end %>
          </div>

          <div class="person-<%= person.id %>-functionality-tags">
            <% unless person.functionality_list.empty? %>
            <p class="card-text"><strong>Funktionalitäten: </p>
              <p class="mt-2">
                <% person.functionality_list.each do |tag| %>
                  <%= link_to tag, overview_path(params: {search_inputs: {model: "Person", functionality_list: [tag]}}), class: "btn btn-outline-dark" %>
                <% end %>
              </p>
            <% end %>
          </div>

          <div class="person-<%= person.id %>-target-group-tags">
            <% unless person.target_group_list.empty? %>
            <p class="card-text"><strong>Zielgruppe: </p>
              <p class="mt-2">
                <% person.target_group_list.each do |tag| %>
                  <%= link_to tag, overview_path(params: {search_inputs: {model: "Person", target_group_list: [tag]}}), class: "btn btn-outline-dark" %>
                <% end %>
              </p>
            <% end %>
          </div>

          <hr />
            <%= render "shared/created_and_updated", parent: person %>
        </div>
      </div>
  </div>
</div>
