<% person = person || record %>

<div class="person-<%= person.id %>">
  <div class="person-profile-view">
      <div class="card my-3">
        <div class="card-body">

          <h3 class="card-title person-name"><%= link_to person.name, person_path(person), class: "black_link" %></h3>
          <p class="card-text"><%= person.description %></p>
          <% if person.email %>
            <p class="card-text"><strong>e-Mail: </strong><%= mail_to person.email %></p>
          <% end %>
          <% if !person.phone.blank? %>
            <p class="card-text"><strong>Telefon: </strong><%= person.phone %></p>
          <% end %>

          <% if !person.gender.blank? %>
            <p class="card-text"><strong>Geschlecht: </strong><%= t(person.gender) %></p>
          <% end %>

          <div class="person-<%=person.id%>-institutions">
            <% unless person.institutions.empty? %>
            <p> <b>Ist Mitglied bei:</b>
              <ul>
              <% person.institutions.each do |institution| %>
                <li>
                  <%= link_to institution.name, institution_path(institution)%>
                </li>
              <% end %>
            </ul>
            </p>
          <% end %>
          </div>

          <div class="person-<%= person.id %>-tags">
            <% unless person.tag_list.empty? %>
              <p class="mt-2">
                <% person.tag_list.each do |tag| %>
                  <button type="button" class="btn btn-info m-1"><%= tag %></button>
                <% end %>
              </p>
            <% end %>
          </div>
          <hr />
          <%= render "shared/created_and_updated", parent: person %>
        </div>
      </div>
  </div>
</div>
