<% records = records || @records %>
<% group = group || @group %>
<ol id="selectable-<%=group.id%>-remove" class="table-wrapper-scroll-y selectable border rounded">
  <% records.each do |record| %>
    <li class="ui-widget-content" id_of_record="<%= record.id %>" ><%= record.name %></li>
  <% end %>
</ol>
<br>

<button type="button" id="remove-people-from-group-<%=group.id%>-button" class="btn btn-warning">Von Gruppe "<%= group.name %>" entfernen</button>
<script>
$( document ).ready(function() {
  var array_of_ids = [];
  var group_id = <%= raw group.id %>;

  $( function() {
    $( "#selectable-" + group_id + "-remove").selectable();
  } );

  $(".group_" + group_id + "_remove_people").on('hidden.bs.modal', function (e) {
    $.ajax({
      url: "/render_group_people",
      method: 'POST',
      data: { group_id: group_id}

    }).done(function(response2){
      $(".group-people-" + group_id).fadeOut( "slow", function() {

          $(".group-people-" + group_id).replaceWith(function(){
            return $(response2).hide().fadeIn("slow");
          });
      });

    });
  });

  $( "#remove-people-from-group-" + group_id + "-button" ).click(function() {
    $( ".ui-selected" ).each(function() {
      array_of_ids.push($(this).attr("id_of_record"))
    })
    console.log(array_of_ids);
    $.ajax({
      url: "/remove_people_from_group",
      method: 'POST',
      data: { selection: array_of_ids, group_id: group_id}
    }).done(function(response) {
      $( ".ui-selected" ).each(function() {
        $( this ).fadeOut( "slow", function() {});
      });

      array_of_ids = [];
    })
  });

});
</script>
