<div class="person-<%= person.id %>">

  <div class="card">
    <div class="card-body">
      <div class="float-right mb-3">

        <div class="btn-group" role="group" aria-label="Toolbar for Person">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-light person-<%= person.id %>-edit" data-toggle="modal" data-target=".person-<%= person.id %>-edit-modal">
            <%= fa_icon "edit" %>
          </button>
          <%= link_to person, method: :delete, data: { confirm: 'Bist du sicher?' } do %>
            <button type="button" class="btn btn-light person-<%= person.id %>-delete"><%= fa_icon "times" %></button>
          <% end %>
        </div>
      </div>

      <h3 class="card-title"><%= person.firstname %> <%= person.lastname %></h3>
      <p class="card-text"><%= person.description %></p>
      <% if person.email %>
        <p class="card-text"><strong>e-Mail: </strong><%= mail_to person.email %></p>
      <% end %>
      <% if person.phone && !person.phone.blank? %>
        <p class="card-text"><strong>Telefon: </strong><%= person.phone %></p>
      <% end %>

      <% if person.gender && !person.gender.blank? %>
        <p class="card-text"><strong>Geschlecht: </strong><%= person.gender %></p>
      <% end %>

      <hr />
      <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade person-<%= person.id %>-edit-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Person" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Person bearbeiten</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "people/form", person: person %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        </div>
      </div>
    </div>
  </div>

</div>
