<div class="person-<%= person.id %>">

  <div class="collapse multi-collapse person-list-view">
      <div class="list">
        <div class="row mt-3">
          <div class="col-4">
            <%= link_to person.name, person_path(person), class: "black_link" %>
          </div>
          <div class="col-3">
            <%= mail_to person.email %>
          </div>
          <div class="col-3">
            <%= person.phone %>
          </div>
          <div class="col-2">
            <div class="btn-group float-right" role="group" aria-label="Toolbar for Person">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-light person-<%= person.id %>-edit" data-toggle="modal" data-target=".person-<%= person.id %>-edit-modal">
                <%= fa_icon "edit" %>
              </button>
              <%= link_to person, method: :delete, data: { confirm: 'Bist du sicher?' } do %>
                <button type="button" class="btn btn-light person-<%= person.id %>-delete"><%= fa_icon "times" %></button>
              <% end %>
            </div>
          </div>
        </div>
        <hr />
      </div>
  </div>

  <div class="collapse multi-collapse person-profile-view">
      <div class="card my-3">
        <div class="card-body">
          <div class="float-right mb-3">

            <div class="btn-group" role="group" aria-label="Toolbar for Person">
              <!-- Button trigger modal -->
              <button type="button" class="btn btn-light person-<%= person.id %>-edit" data-toggle="modal" data-target=".person-<%= person.id %>-edit-modal">
                <%= fa_icon "edit" %>
              </button>
              <%= link_to person, method: :delete, data: { confirm: 'Bist du sicher?' } do %>
                <button type="button" class="btn btn-light person-<%= person.id %>-delete"><%= fa_icon "times" %></button>
              <% end %>
            </div>
          </div>

          <h3 class="card-title person-name"><%= link_to person.name, person_path(person), class: "black_link" %></h3>
          <p class="card-text"><%= person.description %></p>
          <% if person.email %>
            <p class="card-text"><strong>e-Mail: </strong><%= mail_to person.email %></p>
          <% end %>
          <% if !person.phone.blank? %>
            <p class="card-text"><strong>Telefon: </strong><%= person.phone %></p>
          <% end %>

          <% if !person.gender.blank? %>
            <p class="card-text"><strong>Geschlecht: </strong><%= t(person.gender) %></p>
          <% end %>

          <p>
            <%= render "shared/children", parent: person %>
            <!--
            <div class="shared-person-<%=person.id%>">
              <%#= link_to render_shared_path(parent_type: "Person", parent_id: person.id), method: :get, remote: true do %>
                <button type="button" class="btn btn-light shared-person-<%=person.id%>-get-button">Shared holen!</button>
              <%# end %>
            </div>
            //-->
          </p>

          <hr />
          <p class="card-text"><small class="text-muted">
            Erstellt: <%= person.created_at.strftime("%d.%m.%Y %H:%M") %>
            <% if person.audits.where(action: "create").last.user.nil? %>
                - von Sandros Skript
            <% else %>
                - von <%= person.audits.where(action: "create").last.user.username %>
            <% end %>

            <% unless person.audits.where(action: "update").empty? %>
              | Zuletzt bearbeitet: <%= person.audits.where(action: "update").order(:created_at).last.created_at.strftime("%d.%m.%Y %H:%M") %>
              <% if person.audits.where(action: "update").order(:created_at).last.user.nil? %>
                  - von Sandros Skript
              <% else %>
                - von <%= person.audits.where(action: "update").order(:created_at).last.user.username %>
              <% end %>
            <% end %>
        </small></p>
        </div>
      </div>
  </div>



  <!-- Modal -->
  <div class="modal fade person-<%= person.id %>-edit-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Person" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Person bearbeiten</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "people/form", person: person %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        </div>
      </div>
    </div>
  </div>

</div>

<script>

  var isExpanded = $("#person-index-view-option").attr("aria-expanded");

  if( isExpanded ) {
      if(isExpanded == "true"){
        $(".person-profile-view").addClass("show");
      } else {
        $(".person-list-view").addClass("show");
      }
  } else {
    $(".person-profile-view").addClass("show");
  }
  //$( document ).ready(function() {
  //  $( ".shared-person-<%=person.id%>-get-button" ).click();
  //});


</script>
