<% group = group || @group %>

<div class="group-people-<%=group.id%>">

  <div class="text-center">
    <button type="button" class="btn btn-light btn-sm border border-primary m-2">
      Anzahl: <b><%= group.people.count %></b>
    </button>
  </div>

  <div class="table-wrapper-scroll-y border rounded">
    <%#= render partial: "people/show", collection: group.people.order(:name), as: :record, locals: {show_headers: true} %>
    <%= render "basic/index", records: group.people.page(0) %>

  </div>
  <br />
  <%= render 'groups/remove_people_from_group', group: group %>
   |
  <%= render 'groups/add_people_to_group', group: group %>

</div>
