
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".group_<%=group.id%>_remove_people">
    Personen vom Projekt entfernen
  </button>

  <!-- Modal -->
  <div class="modal fade group_<%=group.id%>_remove_people" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= group.name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ol id="selectable-<%=group.id%>-remove" class="table-wrapper-scroll-y selectable border rounded">
            <% group.people.order(:name).each do |record| %>
              <li class="ui-widget-content" id_of_record="<%= record.id %>" ><%= record.name %></li>
            <% end %>
          </ol>
          <br>

          <button type="button" id="remove-people-from-group-<%=group.id%>-button" class="btn btn-warning">Vom Projekt "<%= group.name %>" entfernen</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        </div>
      </div>
    </div>
  </div>


<script>
  $( document ).ready(function() {
    var array_of_ids = [];
    var group_id = <%= raw group.id %>;

    $( function() {
      $( "#selectable-" + group_id + "-remove").selectable();
    } );

    $(".group_" + group_id + "_remove_people").on('hidden.bs.modal', function (e) {

      $.ajax({
        url: "/render_group_people",
        method: 'POST',
        data: { group_id: group_id}

      }).done(function(response2){
        $(".group-people-" + group_id).fadeOut( "slow", function() {

            $(".group-people-" + group_id).replaceWith(function(){
              return $(response2).hide().fadeIn("slow");
            });
        });

      });
    });

    $( "#remove-people-from-group-" + group_id + "-button" ).click(function() {
      $( ".ui-selected" ).each(function() {
        array_of_ids.push($(this).attr("id_of_record"))
      })
      console.log(array_of_ids);
      $.ajax({
        url: "/remove_people_from_group",
        method: 'POST',
        data: { selection: array_of_ids, group_id: group_id}
      }).done(function(response) {
        $( ".ui-selected" ).each(function() {
          $( this ).fadeOut( "slow", function() {});
        })
        array_of_ids = [];
      })
    });

  });
</script>
