<% parent = parent || @parent %>

<div class="shared-<%=parent.class.name.downcase%>-<%=parent.id%>">
  <p>
    <a class="btn btn-link btn-sm" data-toggle="collapse" href=".address-<%= parent.id %>-<%= parent.class.to_s.downcase %>" role="button" aria-expanded="false" aria-controls="collapseExample">
      <%= fa_icon "address-card" %> Adresse anzeigen
    </a>

    <a class="btn btn-link btn-sm" data-toggle="collapse" href=".<%= parent.class.to_s.downcase %>-<%= parent.id %>-notes-toggle" role="button" aria-expanded="false" aria-controls="collapseExample">
      <%= fa_icon "sticky-note" %> Notizen anzeigen
    </a>

    <a class="btn btn-link btn-sm" data-toggle="collapse" href=".<%= parent.class.to_s.downcase %>-<%= parent.id %>-tasks" role="button" aria-expanded="false" aria-controls="collapseExample">
      <%= fa_icon "tasks" %>  Aufgaben anzeigen
    </a>
  </p>

  <div class="collapse mb-2 address-<%= parent.id %>-<%= parent.class.to_s.downcase %>" >
    <%= render "addresses/show", address: parent.address %>
  </div>

<div class="collapse mb-2 <%= parent.class.to_s.downcase %>-<%= parent.id %>-notes-toggle" >
  <%= render "notes/notes_of_a_thing", parent: parent %>
</div>


  <div class="collapse mb-2 <%= parent.class.to_s.downcase %>-<%= parent.id %>-tasks" >
    Im Aufbau
    <%#= render "notes/show", note: Note.last %>
  </div>

</div>
