<div class="container">


  <div class="card mb-3">
    <div class="card-body">
      <h1 class="card-title">Erklärung</h1>
      <p class="card-text">
        Auf dieser Seite kann man Personen und Institutionen importieren.
      </p>
      <p class="card-text">
        Wenn eine Person importiert wird, dann wird geprüft, ob die e-Mail-Adresse bereits bei einer anderen Person vorhanden ist.<br />
        <%= fa_icon "arrow-right" %>
        Wenn die e-Mail-Adresse nicht vorhanden ist, dann wird eine neue Person erstellt.<br />
        <%= fa_icon "arrow-right" %>
        Wenn die e-Mail-Adresse vorhanden ist, dann wird keine neue Person erstellt und die bereits bestehende Person wird aktualisiert.
        Leere Felder werden nichts verändern.
      </p>
      <p class="card-text"><small class="text-muted"><strong>Fragen und Änderungswünsche an:</strong> <%= mail_to "sandro.raess@philosophie.ch" %></small></p>
    </div>
  </div>

    <div class="card mb-3">
      <div class="card-body">
        <h4>Personen importieren</h4>
        <p>
          <%#= link_to "CSV mit Header runterladenx", "personen.csv", download: 'personen.csv' %>
          <%= link_to "CSV mit Header herunterladen", headers_csv_path(search_inputs: {model: "Person"}), class: "btn btn-primary btn-sm" %>
        </p>
        <p>
          <%= link_to "CSV mit Beispielen", example_csv_path(search_inputs: {model: "Person"}), class: "btn btn-primary btn-sm" %>
        </p>
        <p>
          Tags und Institutionen müssen mit einem " | " getrennt werden. Beispiel: "Sponsor | Mitglied | Stiftungsmitglied"
        </p>
        <p>
          <b>Wichtig!</b> Die Abstände müssen richtig sein. Das geht nicht: "Sponsor|  Mitglied |Stiftungsmitglied"
        </p>
        <%= form_tag import_people_path, multipart: true do %>
          <%= file_field_tag :file, class: "btn btn-secondary" %>
          <br>
          <br>
          <%= submit_tag "Importieren", class: "btn btn-primary" %>
        <% end %>
      </div>
    </div>

    <div class="card mb-3">
      <div class="card-body">
        <p class="card-text">
          <h3>Informationen</h3>
          <b>IDs der Institutionen:</b>
          <hr />
          <% Institution.all.each do |institution| %>
            <%= institution.name %>: <%= institution.id %>
            <hr />
          <% end %>
        </p>

        <p class="card-text">
          <b>Funktionalitäten-Tags zum Kopieren:</b>
          <hr />
          <% Institution.all.each do |institution| %>
            <%= institution.name %>: <%= institution.id %>
            <hr />
          <% end %>
        </p>

      </div>
      <hr />
    </div>
</div>
