
  <!-- Button trigger modal -->
  <button type="button" class="btn btn-warning" data-toggle="modal" data-target=".project_<%=project.id%>_remove_people">
    Personen vom Projekt entfernen
  </button>

  <!-- Modal -->
  <div class="modal fade project_<%=project.id%>_remove_people" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title"><%= project.name %></h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <ol id="selectable-<%=project.id%>-remove" class="table-wrapper-scroll-y selectable">
            <% project.people.order(:name).each do |record| %>
              <li class="ui-widget-content" id_of_record="<%= record.id %>" ><%= record.name %></li>
            <% end %>
          </ol>

          <button type="button" id="remove-people-from-project-<%=project.id%>-button" class="btn btn-warning">Vom Projekt "<%= project.name %>" entfernen</button>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        </div>
      </div>
    </div>
  </div>


<script>
  $( document ).ready(function() {
    var array_of_ids = [];
    var project_id = <%= raw project.id %>;

    $( function() {
      $( "#selectable-" + project_id + "-remove").selectable();
    } );

    $(".project_" + project_id + "_remove_people").on('hidden.bs.modal', function (e) {

      $.ajax({
        url: "/render_project_people",
        method: 'POST',
        data: { project_id: project_id}

      }).done(function(response2){
        $(".project-people-" + project_id).fadeOut( "slow", function() {

            $(".project-people-" + project_id).replaceWith(function(){
              return $(response2).hide().fadeIn("slow");
            });
        });

      });
    });

    $( "#remove-people-from-project-" + project_id + "-button" ).click(function() {
      $( ".ui-selected" ).each(function() {
        array_of_ids.push($(this).attr("id_of_record"))
      })
      console.log(array_of_ids);
      $.ajax({
        url: "/remove_people_to_project",
        method: 'POST',
        data: { selection: array_of_ids, project_id: project_id}
      }).done(function(response) {
        $( ".ui-selected" ).each(function() {
          $( this ).fadeOut( "slow", function() {});
        })
        array_of_ids = [];
      })
    });

  });
</script>
