<div class="address-<%= address.id %>" >
  <div class="card my-3">
    <div class="card-body">

      <div class="float-right mb-3">

        <div class="btn-group" role="group" aria-label="Toolbar for Address">
          <!-- Button trigger modal -->
          <button type="button" class="btn btn-light address-<%= address.id %>-edit" data-toggle="modal" data-target=".address-<%= address.id %>-edit-modal">
            <%= fa_icon "edit" %>
          </button>
        </div>
      </div>



      <h5 class="card-title">Adresse</h5>
      <p class="card-text">
        <% unless address.company.blank? %>
          <%= address.company %> <br />
        <% end %>
        <% unless address.form_of_address.blank? %>
          <%= address.form_of_address %>
        <% end %>
        <% if address.company.blank? %>
          <br />
        <% end %>
        <% unless address.firstname.blank? && address.lastname.blank? %>
          <%= address.firstname %> <%= address.lastname %> <br />
        <% end %>
        <% unless address.street.blank? %>
          <%= address.street %> <br />
        <% end %>
        <% unless address.plz.blank? && address.location.blank? %>
          <%= address.plz %>  <%= address.location %><br />
        <% end %>
        <% unless address.country.blank? || address.country_name == "Schweiz" %>
          <%= address.country_name %> <br />
        <% end %>
      </p>
      <p class="card-text"><small class="text-muted">
        Erstellt: <%= address.created_at.strftime("%d.%m.%Y %H:%M") %>
        <% if address.audits.where(action: "create").last.user.nil? %>
            - von Sandros Skript
        <% else %>
            - von <%= address.audits.where(action: "create").last.user.username %>
        <% end %>

        <% unless address.audits.where(action: "update").empty? %>
          | Zuletzt bearbeitet: <%= address.audits.where(action: "update").order(:created_at).last.created_at.strftime("%d.%m.%Y %H:%M") %>
          <% if address.audits.where(action: "update").order(:created_at).last.user.nil? %>
              - von Sandros Skript
          <% else %>
            - von <%= address.audits.where(action: "update").order(:created_at).last.user.username %>
          <% end %>
        <% end %>
    </small></p>
    </div>
  </div>

  <!-- Modal -->
  <div class="modal fade address-<%= address.id %>-edit-modal" tabindex="-1" role="dialog" aria-labelledby="Edit Address" aria-hidden="true">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">Adresse bearbeiten</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <%= render "addresses/form", address: address %>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Schliessen</button>
        </div>
      </div>
    </div>
  </div>

</div>
